@font-face {
    font-family: "MuseoSansCyrl-300";
    src: url("../fonts/museosanscyrl-300.woff2");
  }
  @font-face {
    font-family: "MuseoSansCyrl-500";
    src: url("../fonts/museosanscyrl-500.woff2");
  }
  @font-face {
    font-family: "MuseoSansCyrl-700";
    src: url("../fonts/museosanscyrl-700.woff2");
  }
  @font-face {
    font-family: "MuseoSansCyrl-900";
    src: url("../fonts/museosanscyrl-900.woff2");
  }