@import "./base.css";
@import "./fonts.css";

/* font-family: "MuseoSansCyrl-500"; */
/* font-family: "MuseoSansCyrl-700"; */
/* font-family: "MuseoSansCyrl-300"; */
/* font-family: "MuseoSansCyrl-900"; */
.container {
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
}
.nav {
  padding: 0 5px 0 5px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-tablet {
  display: none;
}
.header_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}

.header_link {
  display: flex;
  justify-content: space-between;
  width: 270px;
}

.header_list-item {
  font-family: "MuseoSansCyrl-500";
  font-size: 15px;
  line-height: 16px;
  cursor: pointer;
}
.logo {
  font-family: "MuseoSansCyrl-700";

  text-transform: uppercase;
  font-weight: bold;
  padding-right: 55px;
  font-size: 15px;
  line-height: 16px;
}

.header_link-lang {
  font-family: "MuseoSansCyrl-500";
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 60px;
  width: 80px;
  height: 40px;
  cursor: pointer;
}
.head-section_link-btn,
.header_link-btn {
  font-family: "MuseoSansCyrl-500";
  font-size: 15px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6248ff;
  border-radius: 60px;
  color: #fff;
  border: none;
  width: 167px;
  height: 40px;
  cursor: pointer;
}
.head-section_link-btn {
  width: 250px;
}

.header_link-btn:hover {
  background: #8773f7;
}

.header_link-lang span {
  padding: 12px 0 0 12px;
  color: rgb(3, 3, 3);
  font-weight: bolder;
}

/*  header end */

.head-section {
  background-color: #e2e1e7;
  margin-bottom: 150px;
}

.head-section_title {
  padding-top: 139px;
  width: 545px;
  height: 398px;
}
.head-section_headeng {
  padding-bottom: 35px;
  font-family: "MuseoSansCyrl-500";
  font-size: 64px;
  line-height: 72px;
  max-width: 100%;
}
.head-section_sub-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  max-width: 100%;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 50px;
}
.head-section_image {
  padding: 100px 50px 0 0;
  height: 516px;
}

.head-section_link-btn:hover {
  background: #8773f7;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
  display: flex;
  height: 720px;
  justify-content: space-between;
}

.getting-section {
  margin: 0 auto;
  padding-right: 130px;
  max-width: 1100px;
  height: 950px;
  margin-bottom: 150px;
}

.getting-section_item-tree,
.getting-section_item-two,
.getting-section_item-arrow-one {
  margin: 150px 0px 0px 0px;
  box-sizing: border-box;
  width: 374px;
  height: 70px;
  border: 3px dashed #6248ff;
  background-color: #fff;
}

.getting-section_list-heading {
  font-family: "MuseoSansCyrl-500";
  font-size: 56px;
  line-height: 66px;
  padding-bottom: 60px;
}
.getting-section_list-heading span {
  background-color: #e2e1e7;
}

.getting-section_item {
  padding: 30px;
  max-width: 100%;
  width: 475px;
  height: 203px;
  background: #ffffff;
  border: 2px solid #6248ff;
  box-sizing: border-box;
  border-radius: 30px;
}

.getting-section_item span {
  font-family: "MuseoSansCyrl-500";
  font-size: 15px;
  line-height: 18px;
  color: #6248ff;
  padding-bottom: 8px;
}
.getting-section_item-rubric {
  font-family: "MuseoSansCyrl-500";
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 24px;
}

.getting-section_item-title {
  font-family: Montserrat;
  width: 419px;
  height: auto;

  font-size: 18px;
  line-height: 26px;
  color: #4f4f4f;
}

.row-one,
.row-two,
.row-three {
  width: 374px;
  height: 70px;
}

.row-one {
  position: absolute;
  top: 85px;
  left: 475px;
  border-radius: 0 40px 0 0;
  border-right: 3px dashed #6248ff;
  border-top: 3px dashed #6248ff;
}

.row-two {
  position: absolute;
  top: 100px;
  right: 475px;
  border-radius: 40px 0 0 0;
  border-left: 3px dashed #6248ff;
  border-top: 3px dashed #6248ff;
}
.row-three {
  position: absolute;
  top: 85px;
  left: 475px;

  border-radius: 0 40px 0 0;
  border-right: 3px dashed #6248ff;
  border-top: 3px dashed #6248ff;
}

.getting-section_list {
  position: relative;
}
.arrow-1,
.arrow-2,
.arrow-3,
.arrow-4 {
  position: absolute;
}

.arrow-2 {
  right: 0;
  top: 158px;
}

.arrow-3 {
  top: 330px;
}

.arrow-4 {
  top: 488px;
  right: 0;
}
/* =========================  slider*/

.slider-section {
  margin: 0 auto;
  width: 1200px;
  height: 400px;
  margin-bottom: 140px;
}

.slide_box-img {
  width: 73px;
}

.slider__items {
  display: flex;
}

.slider__item {
  width: 600px;
}

.slider-wrapper {
  display: flex;
  justify-content: space-between;
}

.slider_title-item {
  font-family: "MuseoSansCyrl-500";
  font-style: normal;
  font-size: 56px;
  line-height: 66px;
  margin-bottom: 39px;
}

.slider_title-item span {
  background-color: #e2e1e7;
}

.slider-container {
  width: 650px;
  overflow: hidden;
  margin-top: 25px;
}
.slider-track {
  width: 650px;
  transition: 0.4s;
  display: flex;
}
.slide_item {
  min-width: 650px;
}
.slide_info {
  width: 300px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 50px;
}
.slide_box-name {
  font-family: "MuseoSansCyrl-500";
  font-size: 18px;
  line-height: 30px;
}
.slide_box-place {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #4f4f4f;
}

.slide_info span {
  padding-left: 30px;
}

.slide_info-title {
  width: 570px;
  position: relative;
  font-family: "MuseoSansCyrl-500";
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  padding-left: 50px;
}

.slider-btn_next,
.slider-btn_prev {
  background-color: #fff;
  border: 0.5px solid #e0e0e0;
  border-radius: 80%;
  width: 48px;
  height: 55px;
}

.slide_info-title::before {
  content: url("../img/inverted.png");
  position: absolute;
  left: 0;
}

.active {
  border: 1px solid #6248ff;
}
/* section-question */

.section-question {
  margin: 0 auto 100px;
  width: 1200px;
}

.section-question_container {
  margin: 0 auto;
  width: 1200px;
}

.section-question_heading {
  font-family: "MuseoSansCyrl-500";
  font-size: 56px;
  line-height: 66px;
  color: #333333;
  margin-bottom: 60px;
}

.section-question_heading span {
  background-color: #e2e1e7;
}

/* ====================================== */
.bord {
  position: relative;
  border: 2px solid #6248ff;
  border-radius: 15px;
  margin: 10px 0;
}

.plus {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  color: #000;
  font-family: "MuseoSansCyrl-500";
  font-size: 24px;
  transition: 0.2s ease-out;
}

.active-plus {
  cursor: pointer;

  top: 30px;
  right: 30px;
  color: #000;
  transform: rotate(-45deg);
}

.accordion {
  font-size: 24px;
  line-height: 29px;
  padding: 32px 32px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 15px;
}

.activ,
.accordion {
  margin: 0;
  font-family: "MuseoSansCyrl-500";
}

.section-question_item-sub-title {
  font-family: Montserrat;
  margin: 10px 0 40px 32px;
  font-size: 16px;
  line-height: 27px;
  color: #4f4f4f;
  height: 110px;
  width: 750px;
}
.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* ======= Contact us! =========*/
.section-contacts_form {
  margin-top: 20px;
}
.section-contacts {
  padding-top: 120px;
  height: 639px;

  background-color: #e2e1e7;
}
.section-contacts_container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
}
.section-contacts_items {
  width: 483px;
  height: 499px;
}
.section-contacts_heading {
  font-family: "MuseoSansCyrl-500";

  font-size: 56px;
  line-height: 66px;
  color: #333333;
  margin-bottom: 32px;
}
.section-contacts_title {
  width: 483px;
  height: 90px;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 48px;
}
.section-contacts_sub-title {
  width: 483px;
  height: 27px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 27px;
  padding-bottom: 24px;

  color: #4f4f4f;
}

.section-contacts_list-item {
  padding-bottom: 16px;
}
.contact_title {
  font-family: "MuseoSansCyrl-500";
  font-size: 15px;
  line-height: 16px;
  color: #333333;
  padding-bottom: 8px;
}

.contact_phone,
.contact_email,
.contact_address {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 27px;
  color: #4f4f4f;
}
/* ====form =========== */

.section-contacts_form-input {
  padding-bottom: 25px;
}

.section-contacts_form {
  background: #ffffff;
  border-radius: 20px;
  width: 585px;
  height: 471px;
  border: 2px solid #6248ff;
}

.section-contacts_form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.from_email,
.from_name {
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  outline: none;
  width: 425px;
  height: 40px;
}

.from_Message,
.from_email,
.from_name {
  font-family: Montserrat;
  font-size: 16px;
  color: #4f4f4f;
  padding-left: 16px;
}

.from_Message {
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  outline: none;
  width: 425px;
  height: 89px;
  margin-bottom: 40px;
}

.from_email:focus {
  border: 1px solid #828282;
}
.from_name:focus {
  border: 1px solid #828282;
}
.from_Message:focus {
  border: 1px solid #828282;
}

::placeholder {
  color: #828282;
}

.form__error {
  font-family: "MuseoSansCyrl-500";
  font-size: 15px;
  line-height: 16px;
  color: #eb5757;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}

.from_email:valid:not(:placeholder-shown) {
  border-color: green;
}

.from_email:invalid:not(:placeholder-shown) {
  border-color: red;
}
.from_email:invalid:not(:placeholder-shown) + .form__error {
  display: block;
}

.section-contacts_form-btn {
  font-family: "MuseoSansCyrl-500";
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #ffffff;
  border: none;
  align-items: center;
  padding: 20px 64px;
  background: #6248ff;
  border-radius: 60px;
}

.section-contacts_form-btn:hover {
  background: #8773f7;
}

/* ==================== footer */

.footer-container {
  padding: 32px 0;
  /* background-color: burlywood; */
  margin: 0 auto;
  width: 1200px;
  height: 391px;
}
.fotter-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.footertitle_logo {
  font-family: "MuseoSansCyrl-500";
  font-weight: 900;

  font-size: 15px;
  line-height: 16px;
  color: #000000;
}
.footer-title_list-item {
  font-family: "MuseoSansCyrl-500";
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #333333;
  padding-bottom: 16px;
}
.footer-title_listsub-title {
  width: 380px;
  font-family: "MuseoSansCyrl-500";
  font-size: 16px;
  line-height: 27px;
  color: #4f4f4f;
}

.footer-title_list {
  display: flex;
  flex-direction: column;
}

.footer-title_list a {
  margin-bottom: 24px;
}

.footer-title_link {
  font-family: "MuseoSansCyrl-500";

  font-weight: 900;
  font-size: 15px;
  line-height: 16px;
  color: #333333;
}

.footer-privacy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.footer-privacy_item {
  font-family: "MuseoSansCyrl-500";
  font-size: 16px;
  line-height: 27px;
  color: #828282;
}

/* =======media================ */
/* @media (min-width: 768px) and (max-width: 1100px) */
@media (max-width: 768px) {
  /* =================hamburger-menu ================ */
  .nav-tablet {
    width: 625px;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header_mob-logo {
    display: none;
  }

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 40px;
    right: 60px;
    width: 26px;
    cursor: pointer;
    z-index: 5;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #eceff1;
    box-shadow: 1px 0px 6px #000;
    transition-duration: 0.25s;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }
  /* =====================hamburger-menu=============== */
  .nav {
    display: none;
  }

  .head-section {
    padding: 40px;
    height: 944px;
    margin-bottom: 80px;
  }
  .head-section_headeng {
    text-align: center;
  }
  .head-section_image {
    padding: 45px 0 0 0;
    width: 418px;
    height: 450px;
  }
  .head-section_title {
    padding-top: 40px;
  }
  .head-section_sub-title {
    margin: 0;
    text-align: center;
  }

  .head-section_link-btn {
    width: 250px;
    margin: 0 auto;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
    width: 760px;
  }

  /* ===========head-section================== */

  /* =================getting-section========== */
  .getting-section_list-heading {
    padding: 0 0 48px 0;
    margin: 0;
  }

  .getting-section_item {
    width: 329px;
    height: 233px;
  }

  .getting-section {
    padding: 40px;
    margin: 0;
  }

  .arrow-1,
  .arrow-2,
  .arrow-3,
  .arrow-4 {
    position: absolute;
  }

  .row-one,
  .row-two,
  .row-three {
    position: absolute;
    width: 193px;
    height: 58px;
  }

  .row-one {
    top: 96px;
    left: 329px;
  }

  .row-two {
    top: 113px;
    right: 328px;
  }

  .row-three {
    top: 96px;
    left: 329px;
  }

  .getting-section_item-title {
    width: 265px;
  }
  .arrow-4_title {
    width: 329px;
    height: 263px;
  }

  /* ==============slider-section ============*/
  .slider-section {
    width: 760px;
  }
  .slider-wrapper {
    width: 760px;
    display: flex;
    flex-direction: column;
  }

  .slider-container {
    margin: 0 auto;
    width: 508px;
    height: 365px;
  }

  .slide_info-title {
    text-align: center;
    font-size: 21px;
    line-height: 29px;
    padding: 0;
    width: 500px;
  }
  .slide_info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 0 59px 0;
  }

  .slide_info span {
    text-align: center;
  }

  .slide_info-title::before {
    left: 30px;
    top: -45px;
    right: -4px;
  }

  .slider-btn {
    width: 680px;
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 200px;
    left: 38px;
  }

  .slider_title-item {
    margin-left: 30px;
  }
  .slide_item {
    max-width: 500px;
    height: 365px;
  }

  .slide_box-img {
    padding-left: 30px;
  }

  /* ============  section-question ============== */

  .section-question {
    width: 760px;
  }

  .section-question_container {
    width: 760px;
    box-sizing: border-box;
    padding: 20px;
  }

  .section-question_item-sub-title {
    width: 558px;
    height: 162px;
  }

  /* ============ section-contacts ============== */

  .section-contacts_container {
    flex-direction: column;
    align-items: center;
    width: 760px;
  }

  .section-contacts {
    padding-top: 50px;
    height: 1098px;
  }

  .section-contacts_form {
    margin-top: 50px;
  }

  /* ============ section-footer ============== */

  .footer-container {
    padding: 50px 0 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 760px;
    height: 900px;
  }
  .fotter-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 760px;
  }

  .footer-title_list {
    display: flex;
    align-items: center;
  }

  .fiiter-link_list {
    position: absolute;
    top: 105px;
    right: 32px;
    justify-content: space-between;
    flex-direction: row;
    width: 688px;
    margin: 0 auto;
  }
  .footertitle_logo {
    padding-bottom: 80px;
  }

  .footer-title_list-item {
    padding-top: 30px;
  }

  .footer-title_listsub-title {
    width: 508px;
    text-align: left;
  }

  .footer-privacy {
    display: flex;
    flex-direction: column;
  }
  .footer-privacy_item {
    padding-bottom: 16px;
  }
}

/* @media (min-width: 320px) and (max-width: 767px) */
@media (max-width: 320px)  {
  .header_link-btn {
    display: none;
  }
  .header_mob-logo {
    display: flex;
    font-family: "MuseoSansCyrl-700";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    color: #333333;
    padding-left: 20px;
    cursor: pointer;
  }
  .menu__box {
    width: 320px;
  }
  .menu__btn {
    right: 20px;
  }

  .nav-tablet {
    display: flex;
    text-align: center;
    justify-content: left;
    width: 280px;
  }
  /* ==============head-section============= */

  .wrapper {
    width: 280px;
    height: 833px;
  }
  .head-section {
    padding: 0 20px;
    height: 833px;
  }

  .head-section_title {
    padding-top: 28px;
    width: 280px;
  }

  .head-section_image {
    width: 280px;
    height: 313px;
  }

  .head-section_tit {
    width: 280px;
  }

  .head-section_headeng {
    width: 280px;
    text-align: left;
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 25px;
  }

  .head-section_sub-title {
    width: 280px;
    line-height: 30px;
    text-align: left;
    padding-bottom: 25px;
  }

  .head-section_link-btn {
    width: 280px;
  }

  /* ==============getting-section============= */

  .getting-section {
    width: 280px;
    height: 1322px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .getting-section_list-heading {
    padding: 0 0 32px 0;
    font-size: 40px;
    line-height: 44px;
    width: 277px;
    height: 132px;
  }
  .getting-section_list {
    position: static;
    display: flex;
    flex-direction: column;
  }
  .getting-section_item {
    height: auto;
  }
  .arrow-1,
  .arrow-2,
  .arrow-3,
  .arrow-4 {
    position: static;
    margin-bottom: 24px;
    width: 280px;
  }

  .row-one,
  .row-two,
  .row-three {
    display: none;
  }
  .getting-section_item-title {
    width: 232px;
  }

  /* ==============slider-section============= */
  .slider-section {
    width: 280px;
    height: 660px;
    margin: 0 auto;
    padding-bottom: 80px;
  }

  .slider-wrapper {
    position: relative;
    width: 280px;
  }
  .slider_title-item {
    padding-bottom: 32px;
  }

  .slider_title-item {
    width: 280px;
    font-size: 40px;
    line-height: 44px;
    margin: 0;
  }

  .slider-btn {
    width: 280px;
    position: absolute;
    top: 600px;
    left: 0px;
    right: 0px;
  }

  .slider-container {
    width: 280px;
    height: 500px;
  }

  .slider-track {
    width: 280px;
  }

  .slide_info-title::before {
    left: 15px;
  }

  .slide_info-title {
    box-sizing: border-box;
    padding: 0 17px;
    text-align: center;
    max-width: 280px;
  }
  .slide_info {
    margin: 0 auto;
    width: 280px;
    padding: 0 0 65px 0;
  }

  /* ==============.section-question============= */
  .section-question {
    width: 280px;
  }
  .section-question_container {
    width: 280px;
    padding: 0;
  }
  .section-question_heading {
    font-size: 40px;
    line-height: 44px;
  }

  .accordion {
    width: 189px;
    padding: 24px 0 16px 16px;
    font-size: 18px;
  }

  .section-question_item-sub-title {
    width: 240px;
    height: auto;
    font-size: 16px;
    line-height: 27px;
    padding: 0px 0px 24px 0px;
    margin: 0 auto;
  }
  /* ==============section-contacts============= */
  .section-contacts {
    /* width: 280px; */
    position: static;
  }
  .section-contacts_container {
    width: 280px;
  }
  .section-contacts_form-input,
  .section-contacts_form,
  .section-contacts_sub-title,
  .section-contacts_items,
  .section-contacts_title {
    width: 280px;
  }

  .from_Message,
  .from_email,
  .from_name {
    width: 280px;
  }

  /* ==============section-contacts============= */

  /* .container {
    width: 280px;
  } */
}
